body{
    background-color: #ff9124;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow-y: hidden;
    font-family: 'Roboto', sans-serif;

}

.textos {
    text-align: center;
    font-weight: bold;
    color: white;
    text-shadow: rgba(0, 0, 0, 0.536) 1px 2px 15px;
}

.buttons .main-btn{
    padding: 10px 20px;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin: 20px 20px;
    background-color: #131354;
    color: white;
    transition: 0.5s;
    cursor: pointer;
}

.buttons .main-btn:hover{
    transform: scale(1.2);
}